body {
    margin: 0;
    background: #CCCCCC;
}

p {
    text-align: center;
}

em strong {
    color: plum;
    margin: 0;
}

h1 h2 {
    text-align: center;
}

.principal {
    background-color: mediumpurple;
    padding-top: 10px;
    padding-bottom: 10px;
}

.principal p {
    text-align: center;
}

em strong {
    color: black;
}

#banner {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#banner {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#missao {
    font-size: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    margin-right: 15%;
    float: right;
}

header {
    background-color: black;
    display: flex;
    flex-direction: row;
}

.logo {
    height: 150px;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: blueviolet;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.container {
    width: 940px;
    margin: auto;
}

header div.container {
    display: flex;
}

.principal img {
    width: 100%;
}

.imagembeneficios {
    width: 40%;
}

produtos {
    margin: top 50px;
    padding: 0;
}

produtos li {
    display: inline-block;
    text-align: center;
    width: 28%;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

produtos h2 {
    font-size: 25px;
    font-weight: bold;
}

produto descricao {
    font-size: 18px;
}

produto preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

produtos li:hover {
    border: 2px solid white;
}

header ul li a :hover {
    color: blueviolet;
}

.produtos li img {
    max-width: 250px;
}

produtos li img {
    max-width: 250px;
}

footer {
    text-align: center;
    padding: 40px 0;
    background: black;
    margin-top: 50px;
}

copyright {
    color: aliceblue;
    font-size: 13px;
    margin: 20px 0 0;
}