body {
    margin: 0;
    background: #CCCCCC;
}

p {
    text-align: center;
}

em strong {
    color: plum;
    margin: 0;
}

h1 h2 {
    text-align: center;
}

.principal {
    background-color: mediumpurple;
    padding-top: 10px;
    padding-bottom: 10px;
}

.principal p {
    text-align: center;
}

em strong {
    color: black;
}

#banner {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#banner {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#missao {
    font-size: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    margin-right: 15%;
    float: right;
}