body {
    margin: 0;
    background: #CCCCCC;
}

p {
    text-align: center;
}

em strong {
    color: plum;
    margin: 0;
}

h1 h2 {
    text-align: center;
}

.principal {
    background-color: mediumpurple;
    padding-top: 10px;
    padding-bottom: 10px;
}

.principal p {
    text-align: center;
}

em strong {
    color: black;
}

#banner {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#banner {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#missao {
    font-size: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    margin-right: 15%;
    float: right;
}

header {
    background-color: black;
    display: flex;
    flex-direction: row;
}

.logo {
    height: 150px;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: blueviolet;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.container {
    width: 940px;
    margin: auto;
}

header div.container {
    display: flex;
}

.principal img{
    width: 100%;
}

.imagembeneficios{
    width: 40%;
}